{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{snake.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Game_Number">Game Number</label>
            <input id="Game_Number" type="text" class="form-control" placeholder="Game Number" name="Game_Number" value="{{snake.Game_Number}}">
        </div>

        <div class="col">
            <label for="Game_Length">Game Length</label>
            <input id="Game_Length" type="text" class="form-control" placeholder="Game Length" name="Game_Length" value="{{snake.Game_Length}}">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}