{% extends "layout.html" %}
{% block content %}
<form action="/snakes/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Game_Number">Game Number</label>
            <input id="Game_Number" type="text" class="form-control" placeholder="Game Number" name="Game_Number">
        </div>
        <div class="col">
            <label for="">Game Length</label>
            <input id="" type="text" class="form-control" placeholder="Game Length" name="Game_Length">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}