{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ snake.Game_Number }} - {{ snake.Game_Length }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ snake.Game_Number }}</li>
        <li class="list-group-item">{{ snake.Game_Length }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{snake.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{snake.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}